* {
  padding: 0px;
  margin: 0px;
}
.para {
  background-color: rgba(19, 22, 31, 0.838);
  color: white;
  text-align: center;
  height: 50px;
}
h2 {
  padding: 8px;
}
.choice {
  height: 165px;
  width: 165px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.choice:hover {
  cursor: pointer;
  background-color: black;
}
img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  align-items: center;
}
.choices {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-top: 5rem;
}

.score_container {
  display: flex;
  text-align: center;
  justify-content: center;
}
.score {
  font-weight: 500;
  text-decoration: solid;
  font-size: 40px;
  margin-top: 50px;
  padding: 20px;
}
.mass_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
#msg {
  text-align: center;
  border-radius: 10px;
  background: black;
  margin-top: 5rem;
  color: white;
  font-size: 40px;
  padding-left: 1rem;
}
